doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Tinkoff Investments
    style 
      include styles/main.css
  body
    header
      h2= 'Tinkoff Investments'
      p.timestamp= timestamp.time + ' ' + timestamp.date

    table.stats
      caption= 'Total Stats, RUB'
      tr 
        th= 'Invested'
        th= 'Profit'
        th= 'Real Profit'
        th= 'PayOut'
        th= 'Commission'
        th= 'Tax'
      tr 
        td= stats.totalInvested
        td= stats.totalProfit
        if stats.totalRealProfit >= 0
          td.green= stats.totalRealProfit
        else if stats.totalRealProfit < 0
          td.red= stats.totalRealProfit
        else 
          td= stats.totalRealProfit
        td= stats.totalPayOut
        td= stats.totalCommission
        td= stats.totalTax

    br

    table
      caption= 'USD'
      tr 
        th= 'Now'
        th= 'Average Buying Price'
        th= 'Average Selling Price'
        th= 'Commission'
      tr
        if dollar.priceNow >= dollar.averageBuyingPrice
          td.green= dollar.priceNow
        else if dollar.priceNow < dollar.averageBuyingPrice
          td.red= dollar.priceNow 
        else
          td= dollar.priceNow
        td= dollar.averageBuyingPrice
        td= dollar.averageSellingPrice
        td= dollar.brokerCommission

    br

    table
      caption= 'Etfs, USD'
      tr
        th= 'Name'
        th= 'Currency'
        th= 'Invested'
        th= 'Total Cost Now'
        th= 'Profit'
        th= 'Ruble Profit'
        th= 'Real Profit'
        th= 'Commission'
      each etf in etfsUSD        
        tr
          if etf.tradeStatus === 'NotAvailableForTrading'
            td.statusRed= etf.name
          else if etf.tradeStatus === 'NormalTrading'
            td.statusGreen= etf.name
          else
            td= etf.name
          td= etf.currency
          td= etf.invested
          td= etf.totalCostNow
          td= etf.profit
          td= etf.profitRUB
          if etf.realProfit >= 1000
            td.green= etf.realProfit
          else if etf.realProfit >= 0
            td.yellow= etf.realProfit
          else if etf.realProfit < 0
            td.red= etf.realProfit
          else
            td= etf.realProfit
          td= etf.brokerCommission


    br

    table
      caption= 'Etfs, RUB'
      tr
        th= 'Name'
        th= 'Currency'
        th= 'Invested'
        th= 'Total Price Now'
        th= 'Real Profit'
        th= 'Commission'
      each etf in etfsRUB      
        tr
          if etf.tradeStatus === 'NotAvailableForTrading'
            td.statusRed= etf.name
          else if etf.tradeStatus === 'NormalTrading'
            td.statusGreen= etf.name
          else 
            td= etf.name
          td= etf.currency
          td= etf.invested
          td= etf.totalCostNow
          if etf.realProfit >= 1000
            td.green= etf.realProfit
          else if etf.realProfit >= 0
            td.yellow= etf.realProfit
          else if etf.realProfit < 0
            td.red= etf.realProfit
          else
            td= etf.realProfit
          td= etf.brokerCommission
  form(action='/logout' method='get')
      input(type='submit' value='Logout')